*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;

}

html{
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: auto;

}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header{
    background-color: #ffff;
    width: 100%;
    padding: 15px 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
header.rolagem{
    background-color: #ffff;
    padding: 29px 4%;
}
header.rolagem a, header.rolagem i{
    color: #2a1c58;
}

header i{
    font-size: 30px;
    color: #ffff
}

header ul{
    list-style-type: none;
}
header ul img{
    width: 350px;
}
.img-ccm{
    width: 70px;
}
header ul li{
    display: inline-block;
    margin: 0 30px;
}
header ul li a{
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
    color: black;
    text-decoration: none;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: red;
    color: black;
    cursor: pointer;
    transition: .2s;
}




nav{
    font-family: Arial, Helvetica, sans-serif;
  
  }
   
  h5{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }
  form{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60%;
    
  }
  .produtos{
    padding-top: 25px;
    padding-inline: 15px;
    font-family: Helvetica, sans-serif;
    text-align: center;
  }
  .blog{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .footer{
            height: 230px;
            width: auto;
            background-color: red;
            display: flex;
            justify-content: space-around;
            color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
   
  }
  .img{
          padding-top: 2%;
          display: inline-block;
         }
         .crodape{
          padding-top: 2%;
         }


.video-image-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.video-image-container video,
.video-image-container img {
    width: 50%; 
    height: 300px; 
    object-fit: cover;
}

.h4{
    text-align: center;
}
